## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [28]:
# Your code here
from random import sample
sample_list_1=sample(range(100), 80)
print(sample_list_1)

[0, 95, 15, 48, 52, 49, 18, 93, 68, 40, 88, 64, 89, 16, 99, 7, 43, 84, 35, 73, 25, 8, 44, 4, 47, 66, 17, 55, 12, 79, 13, 41, 71, 75, 85, 29, 34, 20, 28, 54, 80, 90, 56, 62, 77, 10, 94, 98, 60, 45, 33, 65, 21, 58, 74, 70, 9, 31, 97, 19, 92, 63, 81, 42, 50, 82, 11, 51, 5, 96, 37, 86, 46, 3, 87, 24, 78, 53, 91, 59]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [99]:
# Your code here
set1=set(sample_list_1)
len(set1)
print(set1)

{0, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 24, 25, 28, 29, 31, 33, 34, 35, 37, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 68, 70, 71, 73, 74, 75, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [33]:
# Your code here
sample_list_2=[]

for i in range(80):
    sample_list_2.append(sample(range(100),1)[0])
print(sample_list_2)

[5, 98, 43, 50, 38, 9, 48, 19, 38, 34, 70, 61, 98, 53, 7, 14, 76, 82, 41, 4, 15, 31, 95, 62, 54, 24, 85, 27, 95, 69, 63, 43, 30, 9, 53, 68, 40, 49, 49, 32, 36, 11, 82, 34, 65, 84, 21, 38, 70, 61, 15, 42, 45, 3, 36, 71, 34, 45, 77, 42, 63, 52, 25, 17, 74, 32, 21, 31, 18, 46, 91, 8, 65, 73, 32, 4, 88, 8, 71, 70]

In [43]:
sample_list_2=[sample(range(100),1)[0] for i in range(80)]
print(sample_list_2)

[79, 42, 31, 44, 42, 98, 6, 63, 80, 64, 61, 80, 57, 4, 62, 22, 7, 0, 85, 69, 34, 38, 83, 25, 28, 27, 8, 89, 88, 37, 82, 3, 35, 86, 39, 36, 34, 83, 96, 63, 5, 36, 4, 14, 73, 52, 82, 57, 12, 85, 20, 80, 68, 24, 24, 86, 56, 52, 94, 65, 54, 97, 58, 47, 6, 60, 56, 71, 45, 19, 79, 33, 73, 44, 91, 24, 6, 55, 36, 37]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [46]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [52]:
# Your code here
set3=set1-set2
print(set3)

{9, 10, 11, 13, 15, 16, 17, 18, 21, 29, 40, 41, 43, 46, 48, 49, 50, 51, 53, 59, 66, 70, 74, 75, 77, 78, 81, 84, 87, 90, 92, 93, 95, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [53]:
# Your code here
set4=set2-set1
print(set4)

{36, 69, 6, 38, 39, 14, 83, 22, 57, 27, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [55]:
# Your code here
set5=set1&set2
print(set5)

{0, 3, 4, 5, 7, 8, 12, 19, 20, 24, 25, 28, 31, 33, 34, 35, 37, 42, 44, 45, 47, 52, 54, 55, 56, 58, 60, 62, 63, 64, 65, 68, 71, 73, 79, 80, 82, 85, 86, 88, 89, 91, 94, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [60]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
#not done

80
57
34
11
46

In [66]:
# Your code here
set6=set()
set6
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [80]:
# Your code here

set6.update(set3&set5)
print(set6)
print(len(set6))

{0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 27, 28, 29, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
91

#### Check if `set1` and `set6` are equal.

print(set1)
print(set6)
"if set1 = set6:
    print('True')
else : 
    print('False')"

In [86]:
set1==set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [88]:
# Your code here

check_set1_in_set2 = set1.issubset(set2)
print(check_set1_in_set2)

False

In [89]:
check_set1_in_set3 = set1.issubset(set3)
print(check_set1_in_set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [90]:
# Your code here

union_set1_set2 = set1.union(set2) 

print(union_set1_set2)

{0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 27, 28, 29, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [91]:
union_set3_set4_set5 = set3.union(set4,set5) 

print(union_set3_set4_set5)

{0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 27, 28, 29, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [92]:
union_set1_set2==union_set3_set4_set5

True

#### Using the `pop` method, remove the first element from `set1`.

In [101]:
# set1.pop() 

print(set1)

{3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 24, 25, 28, 29, 31, 33, 34, 35, 37, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 68, 70, 71, 73, 74, 75, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [96]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [118]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_to_remove=set(list_to_remove)
print(set_to_remove)
print(set1)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
{3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 24, 25, 28, 29, 31, 33, 34, 35, 37, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 68, 70, 71, 73, 74, 75, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [120]:
print(set1-set_to_remove)

{3, 4, 5, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 24, 25, 28, 33, 34, 35, 37, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 64, 65, 66, 68, 70, 73, 74, 75, 77, 78, 80, 82, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}